<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>🃏 塔羅占卜</title>
    <link rel="stylesheet" href="/static/DrawCard/DrawCard.css" />
  </head>
  <body>
    <div class="header"><h2>🃏 塔羅占卜</h2></div>
    {{ tarot_html | safe }}
    <!-- 回主頁按鈕 -->
    <div class="button-row">
        <button onclick="window.location.href='/'">回主頁</button>
    </div>
    

    <!-- 自訂警示框 -->
    <div id="customAlert" class="custom-alert">
      <div class="custom-alert-content">
        <p id="customAlertMsg"></p>
        <button id="customAlertBtn">確定</button>
      </div>
    </div>
    <script src="/static/DrawCard/DrawCard.js" defer></script>
  </body>
</html>
