<!doctype html> 
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>🃏 塔羅占卜</title>
    <link rel="stylesheet" href="/static/DrawCard/DrawCard.css" />
    <link rel="stylesheet" href="/static/startpage/StartPage.css"> <!-- 引用回主頁按鈕樣式 -->
  </head>
  <body>
    <div class="header">
      <h2>🃏 塔羅占卜</h2>
    </div>

    {{ tarot_html | safe }}
    
    <!-- 自訂警示框 -->
    <div id="customAlert" class="custom-alert">
      <div class="custom-alert-content">
        <p id="customAlertMsg"></p>
        <button id="customAlertBtn">確定</button>
      </div>
    </div>
    <script src="/static/DrawCard/DrawCard.js" defer></script>
  </body>
</html>
