<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <title>塔羅占卜紀錄</title>
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/RecordPage/recordpage.css" />
  </head>
  <body class="recordpage">
    <a href="/" class="home-section">
      <img src="/static/images/home_icon.png" alt="回主頁" class="home-icon" />
      <span class="site-title">塔羅占卜</span>
    </a>

    <div class="scroll-container">
      <div class="header">
        <h1>我的塔羅占卜紀錄</h1>
      </div>
      <div id="records"></div>
    </div>

    <script src="/static/global.js" defer></script>
    <script src="/static/RecordPage/recordpage.js"></script>
  </body>
</html>
